body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

nav {
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    max-width: 100%;
    padding: 18px;
    position:fixed;
    z-index: 1000;
    margin: -83px 0;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #1e2fc9; 
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.cards-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    background-color: black;
    margin-top: 83px;
}


.card {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #8d8989;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(0.9);
}

.card-header img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links ul {
        margin-top: 10px;
    }

    .nav-links li {
        margin: 0;
        margin-bottom: 10px;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
    }

    .cards-container .card {
        width: calc(50% - 20px);
    }
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color:black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    text-align: left;
}

.dropdown-content li {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #333;
    border: white;
}

.dropdown li:hover{
    background-color: #007BFF;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}.nested-dropdown {
    position: relative;
}

.nested-dropdown:hover .nested-dropdown-content {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.nested-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    left: 100%; 
    top: 0; 
}

.nested-dropdown-content li {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #333;
    border: white;
}

.nested-dropdown-content li:hover {
    background-color: orange;
}
